<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yp.dashboard">

    <application
        android:allowBackup="true"
        android:icon="@drawable/recycle"
        android:label="Food Wastage Management"
        android:roundIcon="@drawable/recycle"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dashboard">
        <activity
            android:name=".AdminButton"
            android:exported="true" />
        <activity
            android:name=".DonateDetails"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".Contact"
            android:exported="true" />
        <activity
            android:name=".DonateForm"
            android:exported="true" />
        <activity
            android:name=".AdminHome"
            android:exported="true" />
        <activity
            android:name=".AdminLogin"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>